body{
    padding-top: 50px;
    overflow-y: scroll;
}
#sesmsg{
    margin: 10px;
    text-align: center;
}
.nav a{
    text-decoration: none;
}
.grp a{
    color: #fff;
}
.grp a:hover{
    color: #555;
}
.desc{
    margin: 10px 0;
    border-radius: 5px; 
    box-shadow: 0 0 5px #aaa;
}
.postdate{
    color: #aaa;
}
textarea{
    width: 450px;
    height: 100px;
}
.tdcenter{
    text-align: center;
}
th{
    background: #f7f7f7;
}
.bold{
    font-weight: bold;
}
.newondc{
    padding: 15px;
}
.newondc:hover{
    background: rgba(0,0,0,0.3);
}
.head{
    font-size: 18px;
    font-weight: bold;
}
.req{
    color: #ff0000;
}
.auth{
    background: rgba(0,0,0,0.05); 
    border-radius:5px; 
    box-shadow: inset 0 0 10px #aaa;  
    padding:5px;
}
.customol > li {
    padding: 10px;
}
.accesslevel{
    background: #fafafa;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #777;
    margin: 5px;
}
.popover{
    width:400px;
}
.popover-title{
   font-weight: bold;
   font-size: 25px;
   padding: 10px;
}
