body{
    padding-top: 50px;
    overflow-y: scroll;
}
#sesmsg{
    margin: 10px;
    text-align: center;
}
.nav a{
    text-decoration: none;
}
.grp a{
    color: #fff;
}
.grp a:hover{
    color: #555;
}
.desc{
    margin: 10px 0;
    border-radius: 5px; 
    box-shadow: 0 0 5px #aaa;
}
.postdate{
    color: #aaa;
}
textarea{
    width: 450px;
    height: 100px;
}
.tdcenter{
    text-align: center;
}
th{
    background: #f7f7f7;
}
.bold{
    font-weight: bold;
}
.newondc{
    padding: 15px;
}
.newondc:hover{
    background: rgba(0,0,0,0.3);
}
.head{
    font-size: 18px;
    font-weight: bold;
}
.req{
    color: #ff0000;
}
.auth{
    background: rgba(0,0,0,0.05); 
    border-radius:5px; 
    box-shadow: inset 0 0 10px #aaa;  
    padding:5px;
}
.customol > li {
    padding: 10px;
}
.accesslevel{
    background: #fafafa;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #777;
    margin: 5px;
}
.popover{
    width:400px;
}
.popover-title{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}
.highlight{
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
}
.post{
    border-width: 1px 0 1px 0;
    border-color: #ddd;
    border-style:solid;
    padding: 10px;
    overflow-x: hidden;
}
.button{
    border-radius: 5px;
    background: rgb(52, 73, 94);
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.button a {
    color: #fff;
    text-decoration: none;
}.button a:hover {
    color: #1abc9c;
}
#msgloader{
    border: 1px solid #1abc9c;
    padding: 10px;
    background: #dff0d8;
    margin: 10px 0;
}
.tagsinput{
    overflow-y: visible;
    margin-bottom: 5px;
}
.wrapword{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}